body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Nanum Gothic", sans-serif;
}

/* NAVBAR */
.navbar-brand {
  padding-left: 2em;
  color: white;
}

.navbar-nav {
  padding-right: 4em;
  color: white;
  text-decoration: none;
}

.navbar-toggler {
  margin-top: 1em;
  margin-right: 1em;
}

.navbar-collapse {
  margin-left: 0.5em;
}

main{
  margin-left: 3em;
  margin-right: 3em;
}

/* PRESENTACION */
.encabezado {
  background-color: #0dcaf0;
}

/* TARJETAS */
.card-body {
  background-color: #0dcaf0;
}

/* CONTACTO */
.btn {
  background-color: #0dcaf0;
}

/* FOOTER */
footer {
    background-color: #0dcaf0;
    vertical-align: middle;
}

.fa-2x {
  padding: 0.2em;
  }
